@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: rgb(97, 15, 151);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.content h1 {
  font-family: "Quicksand", sans-serif;
}
.content p {
  margin: 0px 615px 0px 615px;
  text-align: center;
  font-size: 12px;
}
img {
  margin: 30px 0px 30px 0px;
  width: 20%;
  height: 70%;
  border-radius: 10%;
}
