@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  padding: 0;
  margin: 0;
}
.container {
  background-color: darkmagenta;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h1 {
  font-family: "Quicksand", sans-serif;
}
.content p {
  margin: 0px 30px 0px 30px;
  font-size: 12px;
}
img {
  margin: 30px 0px 30px 0px;
  width: 20%;
  height: 70%;
  border-radius: 45px;
}
