@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  background-color: #1e0b36;
}
.container {
  justify-content: center;
  align-items: center;
  margin: 12px;
  color: white;
  text-align: center;
}
h1 {
  font-family: "Quicksand", sans-serif;
}
img {
  margin: 30px 0px 30px 0px;
  width: 20%;
  height: 70%;
  border-radius: 12px;
}
